@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Noto+Sans+KR:wght@300;400;500;700&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Noto Sans KR", "Inter", sans-serif;
  
  --color-bakery-bg: #FDFBF7;
  --color-bakery-ink: #433422;
  --color-bakery-accent: #8C7355;
  --color-bakery-hero: #AD9466;
  --color-bakery-soft: #E5DED4;
  --color-bakery-footer: #F3EFE9;
}

body {
  background-color: var(--color-bakery-bg);
  color: var(--color-bakery-ink);
  font-family: var(--font-sans);
}

.font-serif {
  font-family: var(--font-serif);
}
